 <div class="mb-8 grid grid-cols-2 md:grid-cols-4 gap-4">
          <div class="bg-white/80 dark:bg-gray-800/50 rounded-lg p-3 shadow-sm dark:shadow-gray-900/50">
            <p class="text-sm text-gray-500 dark:text-gray-300">Altura</p>
            <p class="text-lg font-semibold dark:text-white">{{ pokemon.height }} m</p>
          </div>
          <div class="bg-white/80 dark:bg-gray-800/50 rounded-lg p-3 shadow-sm dark:shadow-gray-900/50">
            <p class="text-sm text-gray-500 dark:text-gray-300">Peso</p>
            <p class="text-lg font-semibold dark:text-white">{{ pokemon.weight }} kg</p>
          </div>
          <div class="bg-white/80 dark:bg-gray-800/50 rounded-lg p-3 shadow-sm dark:shadow-gray-900/50">
            <p class="text-sm text-gray-500 dark:text-gray-300">Color</p>
            <p class="text-lg font-semibold capitalize dark:text-white">{{ pokemon.color }}</p>
          </div>
          <div class="bg-white/80 dark:bg-gray-800/50 rounded-lg p-3 shadow-sm dark:shadow-gray-900/50">
            <p class="text-sm text-gray-500 dark:text-gray-300">Hábitat</p>
            <p class="text-lg font-semibold capitalize dark:text-white">{{ pokemon.habitat }}</p>
          </div>
        </div>
